[ ca ]
default_ca       = CA_default                   # the default ca section

[ CA_default ]
dir              = ./testCA                     # where everything is kept
database         = $dir/index.txt               # database index file.
certificate      = $dir/cacert.pem              # the CA certificate
crl              = $dir/cacrl.crl               # the current CRL
#private_key      = $dir/private/privkey.pem     # the private key
default_crl_days = 90                           # how long before next CRL
